<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                <!-- Leonid Keselman -->
                Ran Ding 
              </h1>
              <!-- <p>I am a PhD student at the <a href="https://www.ri.cmu.edu/">Robotics Institute</a>, part of the <a href="https://www.scs.cmu.edu/">School of Computer Science</a> at <a href="https://www.cmu.edu/">Carnegie Mellon University</a>, where I work on 3D computer vision. My PhD advisor is <a href="http://www.cs.cmu.edu/~hebert/">Martial Hebert</a>. -->
              <p>I am an MSc student in <a href="https://www.tum.de/studium/studienangebot/detail/informatik-master-of-science-msc">Informatics</a> at the <a href="https://www.tum.de/">Technical University of Munich</a> and a research assistant at the <a href="https://cvg.cit.tum.de/">TUM Computer Vision Group</a>, advised by <a href="https://cvg.cit.tum.de/members/xiya"> Dr. Yan Xia </a>, and supervised by <a href="https://cvg.cit.tum.de/members/cremers"> Prof. Daniel Cremers </a>. I also collaborate closely with <a href="https://cfcs.pku.edu.cn/people/faculty/haodong/index.htm">Prof. Hao Dong</a> at the <a href="https://zsdonghao.github.io/#lab">PKU Agibot Lab</a>. Previously, I earned a BEng in <a href="https://cs.dlut.edu.cn/xyjj/xygk.htm">Computer Science</a> from <a href="https://en.dlut.edu.cn/">Dalian University of Technology</a>.</p>
              <p>I have a strong mission to make robots intelligent. This interest ignited during my undergraduate studies, where I worked on robotics under the supervision of <a href="http://faculty.dlut.edu.cn/wuzhenyu/zh_CN/index.htm">Prof. Zhenyu Wu</a>. Through this experience, I discovered my immense passion for robotics and became aware of the limitations of the traditional methods.</p>
              <p>My current research focuses on embodied AI, computer vision, and multimodal learning. Specifically, I am currently working on perception for robot grasping.</p>                
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/">GitHub</a> &nbsp;/&nbsp;
                <!-- <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->
                <a href="https://www.linkedin.com/in/ran-ding-945280167/"> LinkedIn </a>&nbsp;/&nbsp;
                <a href="https://mobile.twitter.com/alfredding6"> Twitter </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/ran_photo.jpg">
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'TUM_research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% if post.title == 'Deformation Generation via Autoregressive Models' %}
              <img src="images/DeformGen.jpg"  style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.report %}
              <a href="{{post.report}}">report</a> /
              {% endif %}
              {% if post.slide %}
              <a href="{{post.slide}}">slide</a> 
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p>
                <!-- I'm interested in computer vision, machine learning, optimization, graphics and robotics. -->
                <!-- My research focuses on 3D reconstruction in computer vision. More specifically, I am working on shape and motion completion, neural implicit field. -->
                <!-- These include coursework and practical course projects. -->
                It covers computer vision, robotics, and multimodal learning.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'TUM_courses' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <!-- <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
              <!-- <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
              {% if post.title == 'Unsupervised Multi-View Stereo with Neural Radiance Field' %}
              <img src="images/3DSpatial.jpg"  style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
              {% if post.title == '3D Visual Prompting for Visual Question Answering' %}
              <img src="images/3DVQA.jpg"  style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
              {% if post.title == 'Stereo Reconstruction' %}
              <img src="images/3DScan.jpg"  style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
              {% if post.title == 'Chinese Undergraduate Curling AI Challenge' %}
              <img src="images/Curlbot.jpg"  style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
              <!-- <img src='images/mira_after.jpg' width="160"></div> -->
              <!-- <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              <!-- {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %} -->
              <!-- {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %} -->
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              <!-- {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %} -->
              {% if post.report %}
              <a href="{{post.report}}">report</a> /
              {% endif %}
              {% if post.supp %}
              <a href="{{post.supp}}">supplementary</a> /
              {% endif %}
              {% if post.slide %}
              <a href="{{post.slide}}">slide</a> 
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- <br> -->
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Awards</h2>
              <p>
                <!-- I'm interested in computer vision, machine learning, optimization, graphics and robotics. -->
                <!-- My research focuses on 3D reconstruction in computer vision. More specifically, I am working on shape and motion completion, neural implicit field. -->
                <!-- These include coursework and practical course projects. -->
                <li>
                <!-- <b>Allianz Scholarship</b> for Top Chinese Student (1400 Euros for 24 months), Oct 2022</li>  -->
                Allianz Scholarship for Top Chinese Student (33,600 Euros), Oct 2022</li>
                <li>
                National Third Prize in National Undergraduate Electronic Design Contest, Sep 2020</li> 
                <li>
                National Second Prize in Chinese Undergraduate Computer Design Contest – AI Challenge, Aug 2020</li> 
                <li>
                National Second Prize in Chinese Undergraduate Curling AI Challenge, Jul 2020</li> 
                <li>
                Provincial Second Prize in National Undergraduate Electronic Design Contest, Aug 2019</li> 
              </p>
            </td>
          </tr>
        </table>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p>
            </td>
          </tr>
        </table> -->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table> -->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table> -->
      </td>
    </tr>
  </table>
</body>

</html>

